extends layout

block content
    h1 Actualizar Objeto (por ID)
    form(method="POST", action="api/update/objeto")
      div.form-group
        label idObjeto
        input.form-control(name="idObjeto", type="text", placeholder="ID")
        label idStat1
        input.form-control(name="idStat1", type="text", placeholder="ID")
        label idStat2
        input.form-control(name="idStat2", type="text", placeholder="ID")
        label stat1
        input.form-control(name="stat1", type="text", placeholder="Número")
        label stat2
        input.form-control(name="stat2", type="text", placeholder="Número")
        label descripcion
        input.form-control(name="descripcion", type="text", placeholder="Texto")
      button.btn.btn-primary Aceptar