extends layout

block content
    h1 Actualizar MiniLeyenda (por ID)
    form(method="POST", action="api/update/minileyenda")
      div.form-group
        label idMinileyenda
        input.form-control(name="idMinileyenda", type="text", placeholder="Texto")
        label nombre
        input.form-control(name="nombre", type="text", placeholder="Texto")
        label curiosidad
        input.form-control(name="curiosidad", type="text", placeholder="Texto")
        label historia
        input.form-control(name="historia", type="text", placeholder="Texto")
      button.btn.btn-primary Aceptar