extends layout

block content
	h1 Actualizar Costo (por ID)
    form(method="POST", action="api/update/costo")
      div.form-group
      	label idCosto
        input.form-control(name="idCosto", type="text", placeholder="ID")
        label probabilidad
        input.form-control(name="probabilidad", type="text", placeholder="Número")
        label idColor
        input.form-control(name="idColor", type="text", placeholder="ID")
      button.btn.btn-primary Aceptar