extends layout

block content
    h1 Actualizar Origen (por ID)
    form(method="POST", action="api/update/origen")
      div.form-group
        label idOrigen
        input.form-control(name="idOrigen", type="text", placeholder="ID")
        label nombre
        input.form-control(name="nombre", type="text", placeholder="Texto")
        label efecto
        input.form-control(name="efecto", type="text", placeholder="Texto")
        label cantidad1
        input.form-control(name="cantidad1", type="text", placeholder="Número")
        label cantidad2
        input.form-control(name="cantidad2", type="text", placeholder="Número")
        label cantidad3
        input.form-control(name="cantidad3", type="text", placeholder="Número")
      button.btn.btn-primary Aceptar