extends layout

block content
	h1 Base de datos
	h2 Ver registros
	a(href='/api/all/personaje') Personaje (Campeón)
	br
	a(href='/api/all/minileyenda') Mini Leyenda
	br
	a(href='/api/all/costo') Costo
	br
	a(href='/api/all/clase') Clase
	br
	a(href='/api/all/origen') Origen
	br
	a(href='/api/all/objeto') Objeto
	br
	a(href='/api/all/objetofinal') Objeto Final
	br
	h2 Agregar un registro
	a(href='/nuevopersonaje') Personaje (Campeón)
	br
	a(href='/nuevaminileyenda') Mini Leyenda
	br
	a(href='/nuevocosto') Costo
	br
	a(href='/nuevaclase') Clase
	br
	a(href='/nuevoorigen') Origen
	br
	a(href='/nuevoobjeto') Objeto
	br
	a(href='/nuevoobjetofinal') Objeto Final
	br
	h2 Actualizar un registro
	a(href='/actualizarpersonaje') Personaje (Campeón)
	br
	a(href='/actualizarminileyenda') Mini Leyenda
	br
	a(href='/actualizarcosto') Costo
	br
	a(href='/actualizarclase') Clase
	br
	a(href='/actualizarorigen') Origen
	br
	a(href='/actualizarobjeto') Objeto
	br
	a(href='/actualizarobjetofinal') Objeto Final
	br
	h2 Eliminar/borrar un registro
	a(href='/eliminarpersonaje') Personaje (Campeón)
	br
	a(href='/eliminarminileyenda') Mini Leyenda
	br
	a(href='/eliminarcosto') Costo
	br
	a(href='/eliminarclase') Clase
	br
	a(href='/eliminarorigen') Origen
	br
	a(href='/eliminarobjeto') Objeto
	br
	a(href='/eliminarobjetofinal') Objeto Final
	br
	h2 Vaciar tabla
	a(href='/vaciarpersonaje') Personaje (Campeón)
	br
	a(href='/vaciarminileyenda') Mini Leyenda
	br
	a(href='/vaciarcosto') Costo
	br
	a(href='/vaciarclase') Clase
	br
	a(href='/vaciarorigen') Origen
	br
	a(href='/vaciarobjeto') Objeto
	br
	a(href='/vaciarobjetofinal') Objeto Final