extends layout

block content
    h1 Eliminar/borrar Personaje (por ID)
    form(method="POST", action="api/delete/personaje")
      div.form-group
        label idPersonaje
        input.form-control(name="idPersonaje", type="text", placeholder="ID")
      button.btn.btn-primary Aceptar