extends layout

block content
    h1 Eliminar/borrar Clase (por ID)
    form(method="POST", action="api/delete/clase")
      div.form-group
        label idClase
        input.form-control(name="idClase", type="text", placeholder="ID")
      button.btn.btn-primary Aceptar