doctype html
|
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title LOL TeamFight Tactics
  meta(name='description' content='Blueprint: A basic template for a responsive multi-level sidebar menu')
  meta(name='keywords' content='blueprint, template, html, css, menu, sidebar, responsive, mobile-friendly')
  meta(name='author' content='Codrops')
  link(rel='shortcut icon' href='favicon.ico')
  // food icons
  link(rel='stylesheet' type='text/css' href='../public/stylesheets/organicfoodicons.css')
  // demo styles
  link(rel='stylesheet' type='text/css' href='stylesheets/demo.css')
  // menu styles
  link(rel='stylesheet' type='text/css' href='stylesheets/component.css')
  script(src='javascripts/modernizr-custom.js')
  script(type='text/javascript').
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7243260-2']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
// Main container
.container
  // Blueprint header
  header.bp-header.cf
    .dummy-logo
      .dummy-icon.foodicon.foodicon--coconut
      h2.dummy-heading TeamFight Tactics
    .bp-header__main
      span.bp-header__present
        | Blueprint 
        span.bp-tooltip.bp-icon.bp-icon--about(data-content='The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration.')
      h1.bp-header__title IATI
      nav.bp-nav
        a.bp-nav__item.bp-icon.bp-icon--prev(href='http://tympanus.net/Blueprints/PageStackNavigation/' data-info='previous Blueprint')
          span Previous Blueprint
        // a class="bp-nav__item bp-icon bp-icon--next" href="" data-info="next Blueprint"><span>Next Blueprint</span></a
        a.bp-nav__item.bp-icon.bp-icon--drop(href='http://tympanus.net/codrops/?p=25521' data-info='back to the Codrops article')
          span back to the Codrops article
        a.bp-nav__item.bp-icon.bp-icon--archive(href='http://tympanus.net/codrops/category/blueprints/' data-info='Blueprints archive')
          span Go to the archive
  button.action.action--open(aria-label='Open Menu')
    span.icon.icon--menu
  nav#ml-menu.menu
    button.action.action--close(aria-label='Close Menu')
      span.icon.icon--cross
    .menu__wrap
      ul.menu__level(data-menu='main')
        li.menu__item
          a.menu__link(data-submenu='submenu-1' href='#') Mini-leyendas
        li.menu__item
          a.menu__link(data-submenu='submenu-2' href='#') Campeones
        li.menu__item
          a.menu__link(data-submenu='submenu-3' href='#') Parche
        li.menu__item
          a.menu__link(data-submenu='submenu-4' href='#') Top Tier
        li.menu__item
          a.menu__link(data-submenu='submenu-4' href='#') Items
        li.menu__item
          a.menu__link(data-submenu='submenu-4' href='#') Tips
        li.menu__item
          a.menu__link(data-submenu='submenu-4' href='#') Acerca de...(FAQs)
      // Submenu 1
      ul.menu__level(data-menu='submenu-1')
        li.menu__item
          a.menu__link(href='#') Aliplata
        li.menu__item
          a.menu__link(href='#') Emplumadín
        li.menu__item
          a.menu__link(href='#') Fantasmín
        li.menu__item
          a.menu__link(href='#') Furicuerno
        li.menu__item
          a.menu__link(href='#') Runente
        li.menu__item
          a.menu__link(href='#') Topobrero
        li.menu__item
          a.menu__link(data-submenu='submenu-1-1' href='#') Sale %
      // Submenu 1-1
      ul.menu__level(data-menu='submenu-1-1')
        li.menu__item
          a.menu__link(href='#') Fair Trade Roots
        li.menu__item
          a.menu__link(href='#') Dried Veggies
        li.menu__item
          a.menu__link(href='#') Our Brand
        li.menu__item
          a.menu__link(href='#') Homemade
      // Submenu 2
      ul.menu__level(data-menu='submenu-2')
        li.menu__item
          a.menu__link(href='#') Todos los campeones
        li.menu__item
          a.menu__link(href='#') Asesino
        li.menu__item
          a.menu__link(href='#') Caballero
        li.menu__item
          a.menu__link(href='#') Cambiaformas
        li.menu__item
          a.menu__link(href='#') Cazador
        li.menu__item
          a.menu__link(href='#') Elementalistas
        li.menu__item
          a.menu__link(href='#') Espadachin
        li.menu__item
          a.menu__link(href='#') Hechiceros
        li.menu__item
          a.menu__link(href='#') Luchador
        li.menu__item
          a.menu__link(href='#') Pistolero
        li.menu__item
          a.menu__link(href='#') Protector
      // Submenu 2-1
      ul.menu__level(data-menu='submenu-2-1')
        li.menu__item
          a.menu__link(href='#') Exotic Mixes
        li.menu__item
          a.menu__link(href='#') Wild Pick
        li.menu__item
          a.menu__link(href='#') Vitamin Boosters
      // Submenu 3
      ul.menu__level(data-menu='submenu-3')
        li.menu__item
          a.menu__link(href='#') Buckwheat
        li.menu__item
          a.menu__link(href='#') Millet
        li.menu__item
          a.menu__link(href='#') Quinoa
        li.menu__item
          a.menu__link(href='#') Wild Rice
        li.menu__item
          a.menu__link(href='#') Durum Wheat
        li.menu__item
          a.menu__link(data-submenu='submenu-3-1' href='#') Promo Packs
      // Submenu 3-1
      ul.menu__level(data-menu='submenu-3-1')
        li.menu__item
          a.menu__link(href='#') Starter Kit
        li.menu__item
          a.menu__link(href='#') The Essential 8
        li.menu__item
          a.menu__link(href='#') Bolivian Secrets
        li.menu__item
          a.menu__link(href='#') Flour Packs
      // Submenu 4
      ul.menu__level(data-menu='submenu-4')
        li.menu__item
          a.menu__link(href='#') Grain Mylks
        li.menu__item
          a.menu__link(href='#') Seed Mylks
        li.menu__item
          a.menu__link(href='#') Nut Mylks
        li.menu__item
          a.menu__link(href='#') Nutri Drinks
        li.menu__item
          a.menu__link(data-submenu='submenu-4-1' href='#') Selection
      // Submenu 4-1
      ul.menu__level(data-menu='submenu-4-1')
        li.menu__item
          a.menu__link(href='#') Nut Mylk Packs
        li.menu__item
          a.menu__link(href='#') Amino Acid Heaven
        li.menu__item
          a.menu__link(href='#') Allergy Free
  .content
    p.info Por favor, Eliga una categoria
    // Ajax loaded content here
// /view
script(src='javascripts/classie.js')
script(src='javascripts/dummydata.js')
script(src='javascripts/main.js')
script.
  (function() {
  var menuEl = document.getElementById('ml-menu'),
  mlmenu = new MLMenu(menuEl, {
  // breadcrumbsCtrl : true, // show breadcrumbs
  // initialBreadcrumb : 'all', // initial breadcrumb text
  backCtrl : false, // show back button
  // itemsDelayInterval : 60, // delay between each menu item sliding animation
  onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
  });
  // mobile menu toggle
  var openMenuCtrl = document.querySelector('.action--open'),
  closeMenuCtrl = document.querySelector('.action--close');
  openMenuCtrl.addEventListener('click', openMenu);
  closeMenuCtrl.addEventListener('click', closeMenu);
  function openMenu() {
  classie.add(menuEl, 'menu--open');
  }
  function closeMenu() {
  classie.remove(menuEl, 'menu--open');
  }
  // simulate grid content loading
  var gridWrapper = document.querySelector('.content');
  function loadDummyData(ev, itemName) {
  ev.preventDefault();
  closeMenu();
  gridWrapper.innerHTML = '';
  classie.add(gridWrapper, 'content--loading');
  setTimeout(function() {
  classie.remove(gridWrapper, 'content--loading');
  gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
  }, 700);
  }
  })();
// For the demo ad only
script(src='//tympanus.net/codrops/adpacks/demoad.js')

