doctype html
|
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title LOL TeamFight Tactics
  // demo styles
  link(rel='stylesheet' type='text/css' href='stylesheets/demo.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/menustyle.css')
  // menu styles
  link(rel='stylesheet' type='text/css' href='stylesheets/component.css')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="jquery-3.4.1.min.js")
  script(src="https://kit.fontawesome.com/a076d05399.js")
  script(src='javascripts/modernizr-custom.js')
  script(src='javascripts/champ.js')
  script(src='javascripts/menu.js')
// Main container
.container
  header.bp-header.cf
    .dummy-logo
      img(src = "/images/logo-tft.png" height = "75" width = "150")
  nav#ml-menu.menu
    .contenedor-menu
      a.btn-menu(href ="#") 
        |  Menu 
        i.icono.fas.fa-bars
      ul.menu-lista
        li
          a(href='#')
            i.icono.izq.fa.fa-sign-in-alt
            | Iniciar sesión/Registrarse
        li
          a(href='#')
            i.icono.izq.fa.fa-paw
            | Mini leyendas
          ul
            li.enlace-mini.ali
              a(href = "#") Aliplata
            li.enlace-mini.emp
              a(href = "#") Emplumadín
            li.enlace-mini.fan
              a(href = "#") Fantasmín
            li.enlace-mini.fur
              a(href = "#") Furicuerno
            li.enlace-mini.run
              a(href = "#") Runente
            li.enlace-mini.top
              a(href = "#") Topobrero
        li
          a(href = "#") 
            i.icono.izq.fas.fa-user
            | Campeones
          ul
            li.enlace-champ.all
              a(href = "#") Todos los campeones
            li.enlace-champ(dataid = '1')
              a(href = "#") Asesino
            li.enlace-champ(dataid = '7')
              a(href = "#") Caballero
            li.enlace-champ(dataid = '9')
              a(href = "#") Cambiaformas
            li.enlace-champ(dataid = '8')
              a(href = "#") Cazador
            li.enlace-champ(dataid = '4')
              a(href = "#") Elementalista
            li.enlace-champ(dataid = '2')
              a(href = "#") Espadachín
            li.enlace-champ(dataid = '10')
              a(href = "#") Hechicero
            li.enlace-champ(dataid = '3')
              a(href = "#") Luchador
            li.enlace-champ(dataid = '6')
              a(href = "#") Pistolero
            li.enlace-champ(dataid = '5')
              a(href = "#") Protector
        li.enlace-misc.patch
          a(href = "#") 
            i.icono.izq.fas.fa-sticky-note
            |  Parche
        li.enlace-misc.item
          a(href = "#") 
            i.icono.izq.fas.fa-mitten
            |  Items
        li.enlace-misc.faq
          a(href = "#") 
            i.icono.izq.fas.fa-question-circle
            |  Acerca de...
  .content
    p.info Por favor, Eliga una categoria

