doctype html
html
  head
    // title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator', content='Jekyll v3.8.5')
    title Proyecto TFT &middot; IATI
    link(rel='canonical', href='https://getbootstrap.com/docs/4.3/examples/blog/')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900', rel='stylesheet')
    link(href='/stylesheets/blog.css', rel='stylesheet')
    style.
      .bd-placeholder-img
        font-size: 1.125 rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
  body
    block content
