extends layout

block content
    form(method="POST", action="api/new/personaje")
      div.form-group
        label nombre
        input.form-control(name="nombre", type="text", placeholder="Texto")
        label descripcion
        input.form-control(name="descripcion", type="text", placeholder="Texto")
        label habilidad
        input.form-control(name="habilidad", type="text", placeholder="Texto")
        label idOrigen1
        input.form-control(name="idOrigen1", type="text", placeholder="ID")
        label idOrigen2
        input.form-control(name="idOrigen2", type="text", placeholder="ID")
        label idClase
        input.form-control(name="idClase", type="text", placeholder="ID")
        br
      div.form-group
        label vida
        input.form-control(name="vida", type="text", placeholder="Número")
        label mana_inicial
        input.form-control(name="manaInicial", type="text", placeholder="Número")
        label mana_max
        input.form-control(name="manaMax", type="text", placeholder="Número")
        label armadura
        input.form-control(name="armadura", type="text", placeholder="Número")
        label resistencia_magica
        input.form-control(name="resistenciaMagica", type="text", placeholder="Número")
        label dano
        input.form-control(name="dano", type="text", placeholder="Número")
        label velocidad_ataque
        input.form-control(name="velocidadAtaque", type="text", placeholder="Número")
        label rango
        input.form-control(name="rango", type="text", placeholder="Número")
        br
      div.form-group
        label idCosto
        input.form-control(name="idCosto", type="text", placeholder="ID")
      button.btn.btn-primary Aceptar