extends layout

block content
    h1 Nuevo Objeto Final
    form(method="POST", action="api/new/objetofinal")
      div.form-group
        label idObjetoFinal
        input.form-control(name="idObjeto", type="text", placeholder="ID")
        label idObjeto1
        input.form-control(name="idObjeto1", type="text", placeholder="ID")
        label idObjeto2
        input.form-control(name="idObjeto2", type="text", placeholder="ID")
        label idStat1
        input.form-control(name="idStat1", type="text", placeholder="ID")
        label idStat2
        input.form-control(name="idStat2", type="text", placeholder="ID")
        label stat1
        input.form-control(name="stat1", type="text", placeholder="Número")
        label stat2
        input.form-control(name="stat2", type="text", placeholder="Número")
        label efecto
        input.form-control(name="efecto", type="text", placeholder="Texto")
        label unico
        input.form-control(name="unico", type="text", placeholder="0/1 (No/Si)")
      button.btn.btn-primary Aceptar