extends layout

block content
    form(method="POST", action="api/new/objeto")
      div.form-group
        label idObjeto
        input.form-control(name="idObjeto", type="text", placeholder="ID")
        label idStat
        input.form-control(name="idStat", type="text", placeholder="ID")
        label stat
        input.form-control(name="stat", type="text", placeholder="Texto")
        label descripcion
        input.form-control(name="descripcion", type="text", placeholder="Texto")
      button.btn.btn-primary Aceptar